.btn {
    padding: 15px 40px;
    cursor: pointer;
    background-color: rgb(186, 29, 146);
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 0 auto 40px auto;
}
.btn:hover {
    outline: 1px solid rgb(186, 29, 146);
    background-color: transparent;
    color: rgb(186, 29, 146);
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 600px;
    gap: 50px;
}
.startCardsSize {
    max-width: 300px;
    min-height: 350px;
}
